[Desktop Entry]
Name=Midnight Commander
Name[af]=Middernag Kommandeur
Name[eo]=Meznokta komandanto
Name[fa]=فرمان‌دار نیمه شب
Name[ko]=미드나잇 커멘더
Name[lv]=Pusnakts Komandieris
Name[nso]=Molaedi wa Bosegogare
Name[th]=มิดไนท์คอมมานเดอร์
Name[ven]=Muhulwane wa vhukati ha vhusiku
Name[xh]=Umyaleli Waphakathi kobusuku
Name[zu]=Umyaleli waphakathi nobusuku
Comment= Midnight Commander
Exec=mc
Icon=mc.png
Terminal=1
Type=Application
Encoding=UTF-8
Categories=Utility
# vi: encoding=utf-8

